.request {
  display: flex;
}
.request>* {
  padding: 10px 20px;
  width: 50%;
  max-width: 500px;
}
h3 {
  margin-bottom: 0;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
#title {
  display: flex;
  gap: 10px;
}
#prevNext {
  display: flex;
  width: 40%;
}
#prevNext button {
  width: 50%;
  min-width: 80px;
  margin-left: 1.2rem;
  margin-top: 0;
}
h3 {
  padding-left: 1.2rem;
}

button {
  margin-top: 1.2rem;
  width: 100%;
  padding: 10px;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: "Catamaran", sans-serif;
  font-weight: bolder;
  font-style: normal;
  color: white;
  background-color: #004C22;
  border: none;
  cursor: pointer;
}
button:hover {
    background-color: #004c2261;   
    transform: translateY(-1px); 
}
button:active {
    background-color: #8e8e8e;
    transform: translateY(0);
}
#approve {
  background-color: green;
}
#approve:hover {
  background-color: #00800061;
}
.deny {
  background-color: rgb(199, 0, 0);
}
.deny:hover {
  background-color: #c7000061;
}