button {
  width: 400px;
  padding: 10px;
  border-radius: 1rem;
  font-size: 16px;
  font-family: "Catamaran", sans-serif;
  font-weight: bolder;
  font-style: normal;
  color: white;
  background-color: #004C22;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.title {
  display: flex;
  gap: 30px;
  align-items: center;
}
.descBox {
  width: 60%;
  height: 10rem;
}
.imgFrame {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}
.box {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #004C22;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 60%;
  height: 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.titleInput {
  width: 18rem;
  height: 1rem;
  border: #004C22 0.1rem solid;
  background-color: #fafafa;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
}
h2 {
  color: #004C22;
}