.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  margin: 0 5%;
}
h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #004C22;
}
p {
  font-size: 1.5rem;
}