@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Londrina+Solid:wght@100;300;400;900&display=swap');

:root {
    --big-font:"Catamaran", sans-serif;
    --text-font: "Londrina", sans-serif;
}

body{ 
    margin: 0;
    padding: 0
}

main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    padding: 1rem 1rem 1rem 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

#sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;

    #options{
        margin-top: auto;
    }
    ul {
        padding: 0;
        li {
            color: #303030;
            height: 1.51rem;
            margin: 0.5rem;
            padding: 1rem;
            border-radius: 8px;
            display: flex;
            align-items: center;
            font-family: var(--big-font);
           
            svg{
                height: 100%;
                margin-right: 1rem;
            }
            transition: border 0.1s linear;
        }

        li:hover:not(.current){
            background-color: white;
        }

        .current {
            background-color: #70d86e;
            color: white;
            font-weight: bold
        }
    }
}

#content {
    border: 1px solid #a0a0a0;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
}