/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Londrina+Solid:wght@100;300;400;900&display=swap");
.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cambo-regular {
  font-family: "Cambo", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}
body > div {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #004c22;
}
#header > h1 {
  color: white;
  margin: 2.8125rem 2.5rem;
  font-size: 3rem;
  text-decoration: none;
}

#kvacica-icon {
  position: absolute;
  width: 1rem;
  height: auto;
  top: 1.8rem;
  left: 5.5rem;
}

#search {
  display: flex;
  flex-direction: column;
  padding: 3.125rem 2.5rem 5rem 2.5rem;
  gap: 1.25rem;
}
#search > input {
  /* background: url("/images/search_icon.png") no-repeat 0.625rem; */
  width: 40%;
  background-color: #d9d9d9;
  border-color: #727272;
  border-width: 1px;
  border-style: solid;
  border-radius: 25px;
  padding: 7px 40px;
}

input::placeholder {
  font-family: "Cambo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #5b5b5b;
}

#search-icon {
  position: absolute;
  width: 2.7rem;
  height: auto;
  margin-left: 0.1rem;
  margin-top: -0.45rem;
  opacity: 0.7;
}

.filter-button {
  font-size: 1.8rem;
  color: white;
  background-color: #004c22;
  border-radius: 0.625rem;
  margin-left: 0.6rem;
  width: 20%;
}
.filter-button:hover {
  cursor: pointer;
}

#courses {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  padding-left: 3.125rem;
  padding-bottom: 1.875rem;
}
#courses > h2 {
  color: #575757;
  font-weight: normal;
  margin: 1rem 0;
}
#courseList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
}
#courseList h2 {
  font-weight: 300;
  margin-top: 0.9375rem;
  margin-bottom: 0.3125rem;
}
#courseList > div {
  /* individual course */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.75rem;
}
#courseList img {
  width: 90%;
  border-radius: 1.25rem;
  border: 0.25rem solid white;
}
#courseList span {
  font-size: 0.9rem;
  text-align: center;
  color: #575757;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14.375rem;
}

footer > img {
  width: 5rem;
  height: auto;
  margin-top: 5rem;
  margin-bottom: -2rem;
}
