.lectures {
    background-color: #D9D9D9;
    padding: 0 40px 30px 20px;
    display: none;
    position: absolute;
    min-width: 160px;
    max-width: 60%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.lectureList {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.lectureList a {
    text-decoration: none;
    display: block; 
}
.lectureTile {
    width: 271px;
    color: white;
    border-collapse: collapse;
    text-align: left;
}
.lectureTile th {
    background-color: #004C22;
    color: white;
    font-weight: 200;
    /* padding: 7px 15px; */
}
.lectureTile td {
    background-color: white;
    text-align: center;
    padding: 15px 0;
}
.lectureTile img {
    width: 70%;
    border-radius: 25px;
}