:root {
    --big-font: "Catamaran", sans-serif;
    --text-font: "Londrina", sans-serif;
}

h1,
h2,
h3,
h4 {
    display: flex;
    align-items: center;

    svg {
        height: 2rem;
        padding: 0 1rem;
    }
}

body {
    margin: 0;
    padding: 0
}


main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    padding: 1rem 1rem 1rem 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

#sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: fit-content;

    #options {
        margin-top: auto;
    }

    ul {
        padding: 0;

        .menuitem {
            
            color: #303030;
            height: 1.51rem;
            margin: 0.5rem;
            padding: 1rem;
            border-radius: 8px;
            display: flex;
            align-items: center;
            font-family: var(--big-font);
            font-size: medium;
            text-decoration: none;

            svg {
                height: 100%;
                margin-right: 1rem;
            }

            transition: border 0.1s linear;
        }

        .menuitem:hover:not(.current) {
            background-color: white;
        }

        .current {
            background-color: #70d86e;
            color: white;
        }
    }
}

#content {
    border: 1px solid #a0a0a0;
    background-color: white;
    color: #505050;
    border-radius: 8px;
    padding: 1rem;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    font-family: var(--text-font);

}

#error {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cd5151;
    padding: 1rem;
    border-radius: 8px;
    color: white;
}