/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Londrina+Solid:wght@100;300;400;900&display=swap');
.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cambo-regular {
  font-family: "Cambo", serif;
  font-weight: 400;
  font-style: normal;
}


body {
    margin: 0;
}
body>div {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #004C22;
}
#header>h1 {
    color: white;
    margin: 45px 40px;
    font-size: 3rem;
}

#search {
    display: flex;
    flex-direction: column;
    padding: 50px 40px 80px 40px;
    gap: 20px;
}
#search>input {
    background: url("grafike/searchIcon.png") no-repeat 10px;
    font: inherit;
    font-size: 1.1rem;
    width: 40%;
    color: #5B5B5B;
    background-color: #D9D9D9;
    border-color: #727272;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    padding: 7px 40px;
}
#search>button {
    font-size: 1.8rem;
    color: white;
    background-color: #004C22;
    border-radius: 10px;
    margin-left: 15px;
    width: 20%;
}
#search>button:hover {
    cursor: pointer;
}

#courses {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding-left: 50px;
    padding-bottom: 30px;
}
#courses>h2 {
    color: #575757;
    font-weight: normal;
}
#courseList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#courseList h2 {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 5px;
}
#courseList>div { /* individual course */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
#courseList img {
    width: 90%;
    border-radius: 20px;
    border: 4px solid white;
}
#courseList span {
    font-size: 0.9rem;
    text-align: center;
    color: #575757;
}

#footer {
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}
#footer>img {
    width: 100px;
}