@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');


body {
    margin: 0;
}

/* header*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 9.175rem; 
    width: 100%;
    box-sizing: border-box;
    background-color: white;

}

.logo {
    width: 7.5rem;   
    padding-left: 2.5rem; 
}

.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43.75rem; 
    height: 100%;

}

.menu {
    flex:1;
    height:100%;
    display: flex;      
    justify-content: center;
    align-items: center;
}

.menu button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}

.profile-icon {
    width: 3.75rem; 
    height: auto;

}
#allCourses-link {
        
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem; 
    color:#004C22;
    text-decoration: none;
}

#about-us-link {
        
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color:#004C22;
    text-decoration: none;
}

#kvacica-allCourses-link {
        
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem; 
    color:#004C22;
    text-decoration: none;

    position:absolute;
    top: 2rem; 
    right: 37.51rem; 
}


/* banner*/

.banner{
    height: 43.75rem;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 46.25rem;
    left: 50%   ;
    transform: translate(-50%, -50%);
    font-family: "Long Cang";
    font-size: 6.6rem; 
    color: white;
    
}


/* demo courses stripe*/

.demo-courses {
    height: 31.25rem; 
}

#demo-courses-text {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem; 
    color:#004C22;
    margin-left: 2.5rem; 
    margin-top: 3.4rem; 
}

.demo-courses-cards {

    height: 18.75rem; 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6.25rem; 
    margin-top: 1.25rem; 
    background-color: #508165;
}

.course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem; 
    height: 15.6rem; 
    background-size: cover;
    background-position: center;
}

.course-card-thumbnail {
     display: flex;
    justify-content: center;
    align-items: center;

}

#course-card-tn-image{
    border: 0.25rem solid rgb(255, 255, 255); 
    width: 70%;
    height: auto;
    border-radius:2rem;
}

.course-card-text {
    margin-top: 1rem;
    font-family: "Cambo", serif;
    font-size: 1.5rem; 
    color: white;
}

.course-card-link {
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
}

.course-card-link:hover {
    opacity: 0.8;
} 

/* footer*/

footer {
    margin-top: 12.5rem; 
    height: 9.4rem; 
    width: 100%;
    box-sizing: border-box;
    background-color: #004C22;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
   font-family: "Cambo", serif;
    font-size: 1.5rem; 
    color: white;
}