@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');


body {
    margin: 0;
}

/* header*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 146.8px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;

}

.logo {
    width: 120px;   
    padding-left: 40px  ;
}

.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 100%;

}

.menu {
    flex:1;
    height:100%;
    display: flex;      
    justify-content: center;
    align-items: center;
}

.menu button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}

.profile-icon {
    width: 60px;
    height: auto;
}

#allCourses-link {
        
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    color:#004C22;
    text-decoration: none;
}

#about-us-link {
        
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    color:#004C22;
    text-decoration: none;
}

#kvacica-allCourses-link {
        
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:25px;
    color:#004C22;
    text-decoration: none;

    position:absolute;
    top:35px;
    right:601px;
}


/* banner*/

.banner{
    height:700px;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 740px;
    left: 50%   ;
    transform: translate(-50%, -50%);
    font-family: "Long Cang";
    font-size: 105px;
    color: white;
    
}


/* demo courses stripe*/

.demo-courses {
    height:500px;
}

#demo-courses-text {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    color:#004C22;
    margin-left: 40px;
    margin-top: 55px;
}

.demo-courses-cards {

    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
    background-color: #508165;
}

.course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.course-card-thumbnail {
     display: flex;
    justify-content: center;
    align-items: center;

}

#course-card-tn-image{
    border: 4px solid rgb(255, 255, 255);
    width: 70%;
    height: auto;
    border-radius: 33px;
}

.course-card-text {
    margin-top: 10px;
    font-family: "Cambo", serif;
    font-size: 24px;
    color: white;
}

.course-card-link {
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
}

.course-card-link:hover {
    opacity: 0.8;
} 

/* footer*/

footer {
    margin-top: 200px;
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    background-color: #004C22;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
   font-family: "Cambo", serif;
    font-size: 24px;
    color: white;
}