.lectures {
    background-color: #D9D9D9;
    padding: 0 2.5rem 1.875rem 1.25rem;
    display: none;
    position: absolute;
    min-width: 20rem;
    max-width: 80vw;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
}

.lectures h3 {
    font-size: 1.4rem; 
     font-family: "Cambo", serif;
    font-weight: 600;
    font-style: normal; 
    color:black;
    text-align: left;
}
.lectureList {
    padding-left: 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4.375rem;
    overflow-x: auto;
}
.lectureList a {    
    display: block;
    flex: 0 0 16.9375rem;
    box-sizing: border-box;
    margin-bottom: 0.75rem;
    text-decoration: none;
}
.lectureTile {
    width: 16.9375rem;
    color: white;
    border-collapse: collapse;
    text-align: left;

    table-layout: fixed; 
    width: 100%;
    height: 14rem; 
    box-sizing: border-box;
    overflow: hidden;
}

.lectureTile th {
    background-color: #004C22;
    color: white;
    font-family: "Cambo", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.1rem; 
    text-align: center;
    height: 2.25rem;
}
.lectures td {
    background-color: white;
    text-align: center;
    border: none;

     height: calc(100% - 3rem);
    padding: 0.9375rem 0;
}
.lectureTile img {
    border-radius: 1.5625rem;
    width: 70%;
    height: 8rem;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


