@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Londrina+Solid:wght@100;300;400;900&display=swap');


body {
    margin: 0;
}

header {

    height: 146.8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #004C22;


}

.login-text {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:50px;
    color:white;
    text-decoration: none;

    width:100%;
    height:100%;

    display:flex;
    justify-content: center;
    align-items: center;

}

.oAuth-options{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top: 60px;

}

.oAuth-button {
   display: flex;
   justify-content: center;
   align-items: center;
   gap:5px;
   padding:10px;

   font-size: 17px;
   font-family: "Arial", serif;

   background-color: rgb(241, 238, 238);
   border-radius: 15px;
   border: none;
   box-shadow: 2px 2px 5px rgba(0,0,0,0.3);

   cursor: pointer;
}
.oAuth-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.dashed-line {
    width: 35%;
    border-top: 2px dashed #004C22;
    margin: 60px auto 60px auto;
}

.CF-login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-text-and-input {
    display: flex;
    flex-direction: column;
    gap: 10px;

   font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    color:#004C22;
    text-decoration: none;

}

input{
    width:300px;
    height:35px;
    border: #004C22 3px solid;
    background-color:rgb(241, 238, 238) ;
}

.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;

    width:170px;
    height:60px;
    margin-top: 20px;

    font-size: 30px;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    background-color: #004C22;
    border: none;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
}


.footer-logo{
    width:80px;
    height:auto;
    margin-top: 80px;
}