.card {
    display: flex;
    flex-direction: row;
    font-family: var(--text-font);
    text-decoration: none;
    background-color: #fafafa;
    border-radius: 8px;
    border: 1px solid #a0a0a0;
    gap: 0.5rem;
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: clip;
    color: #303030;

    .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;

        .desc{
            .cardInfo{
                display: flex;
                flex-direction: column;
            }
        }
    }

    .title {
        font-family: var(--big-font);
        margin: 0;
        position: relative;
        z-index: 1;
    }


    .banner {
        width: 25rem;
        margin-left: auto;
        object-fit: cover;
        border-left: 1px solid #a0a0a0;
    }


}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    z-index: 1;
    margin-top: auto;

    .tag {
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        background-color: #a0a0a0;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        width: max-content;
        height: max-content;
    }
}

.section {
    font-family: var(--text-font);
    display: flex;
    border-top: 1px solid #a0a0a0;
    padding: 2rem 0 2rem 0;
    gap: 1rem;

    >.info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        max-width: 20rem;

        h3 {
            margin: 0;
            display: flex;
        }

        span {
            color: #505050;
        }
    }

    button {
        height: 2rem;
    }
}

.box {
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #a0a0a0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    height: initial;
    flex: 1;
    display: flex;
    flex-direction: column;

    .tag {
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        background-color: #a0a0a0;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        width: max-content;
        height: max-content;
    }

}