@import url('./components.css');


#path {
    display: flex;
    flex-direction: row;

    h4 {
        color: #707070;

        &::after {
            content: ">";
            padding: 0 0.5rem;
        }
    }
}

.cardList {
    ul {
        list-style: none;
        display: flex;
        position: relative;
        gap: 1rem;
        padding: 0;
        margin: 0;
        overflow-x: scroll;


        .card {
            height: auto;

            .desc {
                max-height: 10rem;
                width: 30rem;
                overflow: clip;

                position: relative;
                mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
                mask-repeat: no-repeat;
                mask-size: 100% 100%;
            }


            .banner {}
        }
    }
}

.cardTable {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
    }
}

.instructor-options {
    .button {
        border-radius: 8px;
        border: 1px solid #a0a0a0;
        padding: 1rem;
        background-color: #70d86e;
        text-decoration: none;
        color: white;
        font-family: var(--big-font);
        font-weight: bold;
    }
}