@import url('./components.css');


#path {
    display: flex;
    flex-direction: row;

    h4 {
        color: #707070;

        &::after {
            content: ">";
            padding: 0 0.5rem;
        }
    }
}

.cardList {
    ul {
        list-style: none;
        display: flex;
        position: relative;
         flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        margin: 0;


        .card {
            height: auto;

            .desc {
                max-height: 10rem;
                width: 30rem;
                overflow: clip;

                position: relative;
                mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
                mask-repeat: no-repeat;
                mask-size: 100% 100%;
            }


            .banner {}
        }

    }
}



.cardTable {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
}



#content h2 {
    color: #004C22; 
}