@import url('./components.css');


#path {
    display: flex;
    flex-direction: row;

    h4 {
        color: #707070;

        &::after {
            content: ">";
            padding: 0 0.5rem;
        }
    }
}

.enroll-button {
    margin-left: 2rem;
    margin-top: 12px;
    border-radius: 1rem;
    width: 6rem;
    height: 3rem;

    font-size: 20px;
    font-family: "Catamaran", sans-serif;
    font-weight: bolder;
    color: white;

    background-color: #04863e;
    border: none;
    cursor: pointer;
    text-decoration: none;

    transition: 
        transform 0.2s ease,
        background-color 0.2s ease;
}

.enroll-button:hover {
    background-color: #004c2293;
    transform: scale(1.15);
}

.enroll-button:active {
    background-color: #004c2249;
    transform: scale(1.05);
}


.cardList {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        margin: 0;



        .card {
            height: auto;

            .desc {
                max-height: 10rem;
                width: 30rem;
                overflow: clip;

                position: relative;
                mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
                mask-repeat: no-repeat;
                mask-size: 100% 100%;
            }

        }

    }
}

.course-cards{
        display: flex;
        flex-direction: row;
        gap: 2rem ;
}
.cardTable {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
    }
}

.add-button {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 1rem;
    width: 4rem;
    height: 3rem;
    margin-top: 1.25rem;

    font-size: 20px;
    font-family: "Catamaran", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: white;

    background-color: #004C22;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.add-button:hover {
    background-color: #004c2293;   
}

.add-button:active {
    background-color: #004c2249;
}

.add-card {
   
  display: flex;
  align-items: center;
}
