.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;

    .label {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    input, select {
        width: 100%;
        box-sizing: border-box;
        flex:3;
    }

    button {
        width: 100%;
    }

}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    button {
        width: fit-content;

    }
}


