.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;

    .label {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    input, select {
        width: 100%;
        box-sizing: border-box;
        flex:3;
    }

    button {
        width: 100%;
    }

}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    button {
        width: fit-content;

    }
}


.options {
    display: flex;
    flex-direction: column;

    .option-row {
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        label {
            text-align: center;
        }

        .correct-checkbox {
            width: fit-content;
        }

        .value {
            flex: 1
        }
    }
}