#recipe {
    flex: 1;
}

#quiz {
    .form {
        flex: 1;
    }

    .options {
        display: flex;
        flex: 1;
        gap: 0.5rem;
        flex-direction: row !important;
        flex-wrap: wrap;

        label {
            text-wrap: nowrap;
        }
    }
}

#image {
    overflow: clip;
    border-radius: 1rem;
    height: 25rem;

    img {
        height: inherit;
        object-fit: cover;
    }
}