
.preferences-big-text{
    color: #004C22;
    font-size: 30px;
}

.login-form{
   display:flex;
   flex-direction: row;
   gap:1rem;
   justify-content: left;
    align-items: left;
}

.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 1rem;
    width: 5rem;
    height: 3rem;

    font-size: 16px;
    font-family: "Catamaran", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: white;

    background-color: #004C22;
    border: none;
    cursor: pointer;

    flex:2;
}

.submit-button:hover {
    background-color: #004c2261;   
    transform: translateY(-1px); 
}

.submit-button:active {
    background-color: #8e8e8e;
    transform: translateY(0);
}


input{
    flex:1;
    height: 1rem;
    border: #004C22 0.1rem solid;
    background-color:rgb(241, 238, 238) ;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
}