#page {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
img {
  width: 500px;
}
#request {
  display: flex;
}
#image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: 400px;
  margin-left: 50px;
  padding: 10px;
}