#page {
  max-width: 1000px;
  /* display: flex;
  flex-direction: column; */
  /* gap: 30px; */
}
img {
  width: 500px;
}
#request {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
#image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  margin-top: 20px;
  width: 400px;
  margin-left: 50px;
  padding: 10px;
}