@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    height: 5rem; 
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}


.option-section {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
    gap: 1rem;

}

.login-link,
.signup-link {
    display: inline-block;       
    padding: 0.5rem 1.5rem;      
    background-color: white;   
    color: #004C22;                
    border:2px solid #004C22 ;                
    border-radius: 0.5rem;       
    text-decoration: none;       
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.login-link:hover,
.signup-link:hover {
    background-color: #d7d7d7;   
    transform: translateY(-1px); 
}

.login-link:active,
.signup-link:active {
    background-color: #8e8e8e;
    transform: translateY(0);
}

.menu {
    height:100%;
    display: flex;      
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.profile-icon {
    width: 2.5rem; 
    height: auto;
    padding-bottom: 0.5rem;

}


/* banner*/

.banner{position: relative; 
    width: 100%;
    height: 40rem; 
    overflow: hidden;
}

.banner-image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:1rem;

}

.banner-text {
    position: absolute;
    top: 35rem;
    left:22rem;
    transform: translate(-50%, -50%);
    font-family: "Long Cang";
    font-size: 6.6rem; 
    color: white;
    
}

.about-us-text{
    font-family: "Londrina", sans-serif;
    font-size: 20px;
    color:#303030;
     text-align: center;
font-style: italic;    
    padding-top:4rem;

}



/* demo courses stripe*/

.demo-courses {
    height: 31.25rem; 
    padding-top: 4rem;
}

.demo-courses-cards {
    display: flex;
    flex-direction: column;      
    align-items: center;          
    gap: 1rem;                    

    background-color: #508165;
    border-radius: 1rem;
    padding: 1.5rem;
}

#demo-courses-text {
    font-family: "Catamaran", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;           
}

.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6.25rem;
    width: 100%;
}


.course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem; 
    height: 15.6rem; 
    background-size: cover;
    background-position: center;
}

.course-card-thumbnail {
     display: flex;
    justify-content: center;
    align-items: center;

}

.course-card-tn-image{
    border: 0.25rem solid rgb(255, 255, 255); 
    width: 70%;
    height: auto;
    border-radius:2rem;
}

.course-card-text {
    margin-top: 1rem;
    font-family: "Londrina", sans-serif;
    font-size: 1.5rem; 
    color: white;
}

.course-card-link {
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
}

.course-card-link:hover {
    opacity: 0.8;
} 

/* footer*/

#home-footer {
    margin-top: 12.5rem; 
    height: 9.4rem; 
    width: 100%;
    box-sizing: border-box;
    background-color: #004C22;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

#home-footer span {
   font-family: "Catamaran", sans-serif;
    font-size: 1.5rem; 
    color: white;
}