<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tečajevi</title>
    <link rel="stylesheet" href="styles/allCourses.css" />
      <link rel="icon" href="images/cf_logo_pink.png">
  </head>
  <body>
    <div id="header">
      <h1>TECAJEVI</h1>
      <img id="kvacica-icon" src="images/kvacica_white.png"></img>
    </div>
    <div class="main">
      <div id="search">
        <input type="text" placeholder="Pretraži..." />
        <img id="search-icon" src="images/search_icon.png" alt="search icon" />
        <div id="filters">
        <button class="filter-button">FILTER</button>
      </div>
      </div>
      <div id="courses">
        <h2>Prijedlozi za Vas:</h2>
        <div id="courseList">
          <div>
            <img src="images/thumnbail_grcka_kuhinja.jpg" alt="Greek kitchen" />
            <h2>Grčka kuhinja</h2>
            <span>(jer ste pohađali tečaj "Mediteranska kuhinja")</span>
          </div>
          <div>
            <img src="images/thumnbail_grcka_kuhinja.jpg" alt="Greek kitchen" />
            <h2>Grčka kuhinja</h2>
            <span>(jer ste pohađali tečaj "Mediteranska kuhinja")</span>
          </div>
          <div>
            <img src="images/thumnbail_grcka_kuhinja.jpg" alt="Greek kitchen" />
            <h2>Grčka kuhinja</h2>
            <span>(jer ste pohađali tečaj "Mediteranska kuhinja")</span>
          </div>
        </div>
      </div>
      <footer>
        <img
          src="images/cf_logo_green.png"
          alt="green Cooking flamingoz logo"
        />
      </footer>
    </div>
  </body>
</html>
