<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tečajevi</title>
    <link rel="stylesheet" href="styles/allCourses.css">
</head>
<body>
    <div id="header">
        <h1 class="londrina-solid-regular">TEČAJEVI</h1>
    </div>
    <div class="cambo-regular">
        <div id="search">
            <input type="text" placeholder="Pretraži...">
            <button class="londrina-solid-regular">FILTER</button>
        </div>
        <div id="courses">
            <h2>Prijedlozi za Vas:</h2>
            <div id="courseList">
                <div>
                    <img src="images/thumnbail_grcka_kuhinja.jpg" alt="Greek kitchen">
                    <h2>Grčka kuhinja</h2>
                    <span>(jer ste pohađali tečaj "Mediteranska kuhinja")</span>
                </div>
                <div>
                    <img src="images/thumnbail_grcka_kuhinja.jpg" alt="Greek kitchen">
                    <h2>Grčka kuhinja</h2>
                    <span>(jer ste pohađali tečaj "Mediteranska kuhinja")</span>
                </div>
                <div>
                    <img src="images/thumnbail_grcka_kuhinja.jpg" alt="Greek kitchen">
                    <h2>Grčka kuhinja</h2>
                    <span>(jer ste pohađali tečaj "Mediteranska kuhinja")</span>
                </div>
            </div>
        </div>
        <div id="footer">
            <img src="images/cf_logo_green.png" alt="green Cooking flamingoz logo">
        </div>
    </div>
</body>
</html>
