<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediteranska kuhinja</title>
    <link rel="stylesheet" href="styles/allCourses.css">
    <link rel="stylesheet" href="styles/course.css">
    <link rel="stylesheet" href="styles/lecturesDropdown.css">
     <link rel="icon" href="images/cf_logo_pink.png">
</head>
<body>
    <div id="header">
        <h1 class="londrina-solid-regular">TECAJEVI</h1>
        <img id="kvacica-icon" src="images/kvacica_white.png"></img>
    </div>
    <div class="main" >
        <div id="subheader">
            <div id="autor">
                <span>Autor:</span>
                <div id="profilePic">
                <img src="images/profile_icon.png" alt="profile picture">
                </div>
                <span>Pero Perica</span>
            </div>
            <span>Objavljeno 6.9.2025.</span>
        </div>
        <h1 id="courseTitle">Mediteranska kuhinja</h1>
        <div id="courseDesc">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. 
                Quisque faucibus ex sapien vitae pellentesque sem placerat. 
                In id cursus mi pretium tellus duis convallis. 
                Tempus leo eu aenean sed diam urna tempor. 
                Pulvinar vivamus fringilla lacus nec metus bibendum egestas. 
                Iaculis massa nisl malesuada lacinia integer nunc posuere. 
                Ut hendrerit semper vel class aptent taciti sociosqu. 
                Ad litora torquent per conubia nostra inceptos himenaeos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. 
                Quisque faucibus ex sapien vitae pellentesque sem placerat. 
                In id cursus mi pretium tellus duis convallis. 
                Tempus leo eu aenean sed diam urna tempor. 
                Pulvinar vivamus fringilla lacus nec metus bibendum egestas. 
                Iaculis massa nisl malesuada lacinia integer nunc posuere. 
                Ut hendrerit semper vel class aptent taciti sociosqu. 
                Ad litora torquent per conubia nostra inceptos himenaeos.</p>
        </div>
        <table id="modules">
            <tr>
                <th id="lessons">MODULI</th>
            </tr>
            <tr>
                <td class="lesson-name">
                    <span>Dalmatinska kuhinja</span>
                    <div class="dropbtn">
                    <button>
                        <img src="images/dropdown_icon.png" alt="dropdown icon">
                    </button> 
                    <div class="lectures" id="dalmatinska">
                        <h3>LEKCIJE</h3>
                        <div class="lectureList">
                            <a href="#"><table class="lectureTile">
                                <tr><th>Pašticada</th></tr>
                                <tr><td>
                                    <img src="images/thumbail_pasticada.jpg" alt="pašticada">
                                </td></tr>
                            </table></a>
                            <a href="#"><table class="lectureTile">
                                <tr><th>Crni rižot</th></tr>
                                <tr><td>
                                    <img src="images/thumbnail_crni_rizot.jpg" alt="crni rizot">
                                </td></tr>
                            </table></a>
                            <a href="#"><table class="lectureTile">
                                <tr><th>Crni rižot</th></tr>
                                <tr><td>
                                    <img src="images/thumbnail_crni_rizot.jpg" alt="crni rizot">
                                </td></tr>
                            </table></a>                            
                            <a href="#"><table class="lectureTile">
                                <tr><th>Crni rižot</th></tr>
                                <tr><td>
                                    <img src="images/thumbnail_crni_rizot.jpg" alt="crni rizot">
                                </td></tr>
                            </table></a>                            
                            <a href="#"><table class="lectureTile">
                                <tr><th>Crni rižot</th></tr>
                                <tr><td>
                                    <img src="images/thumbnail_crni_rizot.jpg" alt="crni rizot">
                                </td></tr>
                            </table></a>                            
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lesson-name">
                    <span>Talijanska kuhinja</span>
                    <div class="dropbtn">
                    <button>
                        <img src="images/dropdown_icon.png" alt="dropdown icon">
                    </button> 
                </td>
            </tr>
            <tr>
                <td class="lesson-name">
                    <span>Egipatska kuhinja</span>
                    <div class="dropbtn">
                    <button>
                        <img src="images/dropdown_icon.png" alt="dropdown icon">
                    </button> 
                </td>
            </tr>
            <tr>
                <td class="lesson-name">
                    <span>Albanska kuhinja</span>
                    <div class="dropbtn">
                    <button>
                        <img src="images/dropdown_icon.png" alt="dropdown icon">
                    </button> 
                </td>
            </tr>
        </table>
       
    </div>
     <footer>
        <img
          src="images/cf_logo_green.png"
          alt="green Cooking flamingoz logo"
        />
      </footer>
    
</body>
</html>