<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naslovnica</title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="icon" href="images/cf_logo_pink.png">
</head>
<body>
<header>
    <div class="left-section">
         <img class="logo" src="images/cf_logo_pink.png">
    </div>
<div class="right-section">
    <div class="menu">
    <a id="kvacica-allCourses-link" href="allCourses.html">
        <img class="kvacica-icon" src="images/kvacica_green.png"></img>
    </a>
    <a id="allCourses-link" href="allCourses.html" >TECAJEVI</a>
    </div>
    <div class="menu">
    <a id="about-us-link" href="about_us.html" >O NAMA</a>
    </div>
    <div class="menu">
    <a class="profile-link" href="sign_up.html"> 
    <img class="profile-icon" src="images/profile_icon.png"></img>
    </a>
    </div>
</div>
</header>

<div class="banner">
    <div class="banner-image">
        <img class="banner-image" src="images/banner_daska_za_rezanje.jpg"></img>
    </div>  
<div class="banner-text">Hrana za misli</div>
</div>
<div class="demo-courses"> 
    <div id="demo-courses-text">Isprobajte sada!</div>
    <div class="demo-courses-cards">  
        <div class="course-card">
         <div class="course-card-thumbnail">
            <a class="course-card-link"  href="course1.html">
                <img id="course-card-tn-image" src="images/thumbnail_mediteranska_kuhinja.jpg">
            </div>
            <div class="course-card-text">Mediteranska kuhinja</div>
        </a>
            </div>
        <div class="course-card">
         <div class="course-card-thumbnail">
            <a class="course-card-link"  href="course2.html">
                <img id="course-card-tn-image" src="images/thumbnail_kineska_kuhinja.jpg">
            </div>
            <div class="course-card-text">Kineska kuhinja</div></a>
            </div>
        <div class="course-card">
            <div class="course-card-thumbnail">
                <a class="course-card-link"  href="course3.html">
                <img id="course-card-tn-image" src="images/thumbnail_indijska_kuhinja.jpg">
            </div>
            <div class="course-card-text">Indijska kuhinja</div></a>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-text">Copyright © Cooking Flamingoz 2025</div>
</footer>
</body>